.region-select {
  .ant-select-item {
    padding-bottom: 0 !important;
  }

  .ant-select-item-option-selected .region-label {
    font-weight: 400 !important;
  }

  .ant-select-item-option-content .ant-row {
    padding: 5px 0;
  }

  .ant-select-item-option-state {
    display: flex;
    align-items: center;
  }

  .region-label .ant-divider-horizontal {
    left: 14px;
    right: 14px;
    width: auto;
    min-width: auto;
    position: absolute;
    z-index: 1;
  }
}

.region-select-group {
  .form-item-icon {
    width: 42px !important;
    height: 42px !important;
  }
}
