.preview-icon-only + .ant-image-mask {
  font-size: 0;
}

.preview-icon-only + .ant-image-mask .anticon {
  font-size: 14px;
  margin: 0;
}

.region-card {
  margin: auto !important;
  border: 2px solid #f0f0f0 !important;
  border-radius: 10px !important;

  img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px !important;
  }

  .ant-card-body {
    display: none !important;
  }
}

.animation-link {
  box-shadow: inset 0 0 0 0 #1890ff;
  color: #1890ff;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline !important;

  &:hover {
    box-shadow: inset 1000px 0 0 0 #1890ff;
    color: #fff;
    text-decoration: none !important;
  }
}