.preview-icon-only + .ant-image-mask {
  font-size: 0;
}

.preview-icon-only + .ant-image-mask .anticon {
  font-size: 14px;
  margin: 0;
}

.region-card {
  margin: auto !important;
  border: 2px solid #f0f0f0 !important;
  border-radius: 10px !important;

  img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px !important;
  }

  .ant-card-body {
    display: none !important;
  }

  // .ant-card-meta-title {
  //   display: -webkit-box;
  //   -webkit-line-clamp: 2; /* number of lines to show */
  //   line-clamp: 2;
  //   -webkit-box-orient: vertical;
  //   white-space: inherit !important;
  // }

  // .ant-card-meta-description span {
  //   color: rgba(0, 0, 0, 0.4) !important;
  //   font-size: 16px;
  //   font-weight: 500;
  // }

}